[user]
	name = David Pedersen
	email = david.pdrsn@gmail.com
[core]
	excludesfile = /Users/davidpdrsn/.gitignoreglobal
[init]
	defaultBranch = main
[diff]
    external = difft
[push]
    autoSetupRemote = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
