.CFUserTextEncoding
.DS_Store
.Trash
.ark/
.cargo
.config/gh/hosts.yml
.config/iterm2/
.lesshst
.local
.rust-analyzer-target-dir/
.rustup
.ssh
.tmux/
.viminfo
.zcompdump
.zhistory
.zsh_history
.zsh_sessions
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
code
games
.config/htop/
.config/broot/
.npm
talks
.bash_history
.python_history
.graphite_user_config
.psql_history
.graphite_beta_survey
.cache
.config/balance/archive.json
.aspnet/
.dotnet/
.nuget/
.templateengine/
.wget-hsts
.graphite_upgrade_message
Applications
.thumbnails
